---
---

<section>
  <h2 class="font-bold uppercase text-center text-2xl">
    Parte 1 - A Maldição de Arendal
  </h2>
  <p class="indent-8 mb-4">
    Após a Linz Opprør e a queda da casa Arendal, uma das cinco famílias ligadas à Guerra Dracônica, a região no noroeste de Erde foi tomada por uma maldição: 
    antes a região mas fértil, as terras agora estão mortas. Aqueles que não morreram de fome ou pela maldição, morreram nos constantes conflitos
    no período de barbárie que seguiu.
  </p>
  <p class="indent-8 mb-4">
    Foi apenas quando a Rainha Agnes Linz chegou ao poder, um ano depois, que os conflitos cessaram. Desde então seus esforços pelos últimos 78 anos tem sido 
    em mitigar e quebrar a maldição que cobre o antigo Reino de Arendal. Sem o suprimento de alimentos, as Nações Pequenas estão em tumulto e sem forças
    para retomar as Terras Quebradas.
  </p>
  <p class="indent-8">
    Agora, 27 anos após o Dia do Retorno, rumores de que a maldição está crescendo para fora de suas fronteiras se espalham pelas Nações Pequenas e ameaça o
    atual período de abundância com fracas colheitas, natimortos e criaturas saídas de pesadelos.
  </p>
</section>