---
---

<section class="mb-8">
  <div class="mb-6">
    <h1
      class="font-bold uppercase text-center text-4xl md:text-5xl xtracking-tighter py-6 overflow-hidden"
    >
      <span
        class="bg-gradient-to-br from-[#334155] via-[#1e293b] to-[#0f172a] dark:from-primary-main dark:via-primary-main dark:to-primary-main bg-clip-text text-transparent"
      >
        Erde | Nações Pequenas
      </span>
    </h1>
  </div>
  <div>
    Links rápidos
    <ul>
      <li>
        <a href="https://imgur.com/a/CPgE3K3" target="_blank" rel="noopener noreferrer">
          Mapas
        </a>
      </li>
      <li>
        <a href="https://app.fantasy-calendar.com/calendars/8032e6d431826245761e3b674899f153" target="_blank" rel="noopener noreferrer">
          Calendário completo
        </a>
      </li>
    </ul>
  </div>
</section>
